html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  display: block;

  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;

  padding: 11px 20px 9px 20px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* Хэдер */

.main-header {
  background-color: #f4f7f9;
}

.main-header ul {
  list-style: none;
}

.menu-top,
.top-background {
  background-color: #293449;
}

.search-form {
  display: flex;
  flex-direction: row-reverse;
  width: 270px;
  min-height: 42px;
}

.search-form input[type="search"] {
  width: 222px;

  font: inherit;
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;

  background-color: #293449;
  border: none;

  cursor: pointer;
}

input[type="search"]::placeholder {
  font: inherit;
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}

.search-form .search-btn {
  width: 48px;
  height: 42px;

  padding: 0;
  border: none;
  background-color: #293449;
  
  cursor: pointer;
  fill: #69717f;
}

input[type="search"]:hover,
input[type="search"]:hover + .search-btn {
  background-color: #212a3a;

  fill: #ffffff;
}

input[type="search"]:focus,
input[type="search"]:focus + .search-btn {
  background-color: #ffffff;
  color: #000000;

  outline: none;

  fill: #ee3643;
}

.search-btn:hover {
  background-color: #212a3a;
  fill: #ffffff;
}

.search-btn:focus {
  background-color: #ffffff;
  
  outline: none;

  fill: #ee3643;
}

.order-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  width: 450px;
  min-height: 42px;
}

.order-menu .bookmark,
.order-menu .basket,
.order-menu .order {
  display: block;
 
  width: 150px;
  min-height: 42px;

  padding: 12px 20px 12px 20px;

  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
  text-align: center
}

.order-menu .bookmark,
.order-menu .basket {
  position: relative;

  padding-left: 44px;
  text-align: left;
}

.order-menu .basket {
  padding-left: 50px;
}

.bookmark span,
.basket span {
  padding-left: 4px;
}

.order-menu .bookmark:hover,
.order-menu .basket:hover,
.order-menu .bookmark:focus,
.order-menu .basket:focus {
  background-color: #212a3a;
}

.order-menu .bookmark:active,
.order-menu .basket:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.order-menu .basket-full {
  background-color: #ee3643;
}

.order-menu .basket-full:hover,
.order-menu .basket-full:focus {
  background-color: #ca2c37;
}

.menu-top .basket-full:active {
  background-color: #ba2732;
}

.order-menu .order {
  background-color: #63a63e;
}

.order-menu .order:hover,
.order-menu .order:focus {
  background-color: #5fbb2d;
}

.order-menu .order:active {
  background-color: #518534;
}

.order-menu .bookmark::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.order-menu .basket::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.order-menu .bookmark:hover::before,
.order-menu .bookmark:focus::before,
.order-menu .basket:hover::before,
.order-menu .basket:focus::before {
  opacity: 1;
}

.order-menu .bookmark:active::before,
.order-menu .basket:active::before {
  opacity: 0.5;
}

.logo a,
.footer-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 0 0#b52933;
  background-color: #ee3643;
}

.logo a {
  width: 220px;
  height: 42px;
}

.footer-logo a {
  width: 220px;
  height: 63px;

  margin-right: 108px;
}

.logo:not(.index) a:hover,
.logo:not(.index) a:focus,
.footer-logo:not(.index) a:hover,
.footer-logo:not(.index) a:focus {
  background-color: #ca2c37;
}

.logo:not(.index) a:active,
.footer-logo:not(.index) a:active {
  background-color: #ba2732;
}

.main-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;

  width: 200px;
  min-height: 60px;

  margin-top: 3px;
  margin-right: 28px;
  padding: 0;
}

.phone {
  display: block;
  
  position: relative;

  width: 270px;
  min-height: 45px;

  margin-bottom: 4px;
  padding: 10px 10px 8px 71px;

  font-size: 21px;
  line-height: 1;
  color: #ee3643;

  border: solid 3px #ffffff;

  outline: none;
}

.phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;

  margin: 0;
}

.authorization {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;

  width: 310px;
  min-height: 45px;

  margin: 0;
  padding: 0;

}

.authorization a {
  display: block;

  width: 150px;
  min-height: 45px;

  margin-bottom: 10px;
  padding: 12px 20px 10px 20px;

  font-size: 21px;
  line-height: 1;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.authorization .icon-login {
  position: relative;

  justify-content: flex-start;

  width: 121px;
  padding-left: 47px;

  margin-left: 29px;

  text-align: left;
}

.icon-login::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.icon-login:hover::before,
.icon-login:focus::before {
  opacity: 1;
}

.icon-login:active::before {
  opacity: 0.3;
}



.authorization a:hover,
.authorization a:focus {
  color: #ee3643;

  background-color: #ffffff;
}

.authorization a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.account-back {
  background-color: #ffffff;
}

.account a {
  font-size: 21px;
  line-height: 1;
  color: #000000;
}

.account a:active {
  color: rgba(0, 0, 0, 0.3);
}

.account-menu ul {
  list-style: none;
}

.account-menu a {
  position: relative;

  font-size: 16px;
  line-height: normal;
  color: #32425c;
  text-decoration: underline;

  margin-right: 32px;
}

.account-menu a:hover,
.account-menu a:focus {
  color: #ee3643;
}

.account-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

.account {
  display: flex;
  flex-direction: column;

  width: 310px;
  min-height: 112px;

  padding-left: 10px;
}

.account-back {
  position: relative;

  display: flex;
  align-items: center;

  width: 299px;
  min-height: 45px;

}

.account-name {
  position: relative;
  width: 254px;
  min-height: 45px;

  padding-top: 12px;
  padding-left: 48px;
}

.account-name::before {
  content: "";

  position: absolute;

  top: 13px;
  left: 14px;

  width: 20px;
  height: 18px;

  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.account-name:hover::before,
.account-name:focus::before {
  opacity: 1;
}

.account-name:active::before {
  opacity: 0.3;
}

.acount-exit {
  width: 45px;
  height: 45px;

  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: top 14px right 9px;

  opacity: 0.3;
}

.acount-exit:hover,
.acount-exit:focus {
  opacity: 1;
}

.acount-exit:active {
  opacity: 0.3;
}

.account-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  width: 299px;
  min-height: 33px;

  margin: 0;
  padding-left: 19px;
}

.account-menu li {
  position: relative;
}

.account-menu li:nth-child(2n+2)::before {
  content: "";

  position: absolute;

  top: 7px;
  left: -17px;

  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}


.main-menu-list {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}



.main-menu-list a {
  display: block;
 
  min-height: 60px;

  font-size: 17px;
  line-height: 1;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;

  padding: 20px 30px 20px 30px;
  
}

.main-menu-list a:hover:not(.current),
.main-menu-list a:focus:not(.current) {
  background-color: #293449;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-menu-list a:active:not(.current) {
  color: rgba(255, 255, 255, 0.5);

  box-shadow: inset 0px -5px 0 0 #1d2739;
  background-color: #1d2739;
}

/* --- Стиль активного стотояния ---
.main-menu-list .current {
  color: rgba(255, 255, 255, 0.5);

  box-shadow: 0px 5px 0 0 #1d2739;
  background-color: #1d2739;
} */

/* --- Main блок --- */

/* --- Стили catalog.html --- */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.main-catalog-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.filters,
.sorting-container,
.pagination-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

/*.filters input[type="radio"],
.filters input[type="checkbox"] {
  display: none;
}*/

.filters h2 {
  font-size: 13px;
  vertical-align: middle;
  font-weight: normal;

  background-color: #f7f3ec;
  border-radius: 3px;

  width: 220px;
  height: 38px;

  margin: 0;
  padding-top: 10px;
  padding-left: 18px;
  margin-bottom: 15px;
}

.filters fieldset {
  /* Сброс отступов полей форм */
  border: none;

  padding: 0;
  margin: 0;
}

.filters legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  letter-spacing: 0.17px;
}

.filters .range {
  background-color: #f7f3ec;
}

.input-item input[type="number"] {
  background-color: #f7f3ec;
  border: none;

  padding-left: 15px;
}


.filters .filter-price {
  display: flex;
  flex-direction: column;

  margin-bottom: 18px;
}

.filter-price legend {
  line-height: 1.33;

  margin-bottom: 18px;
}

.range {
  position: relative;

  width: 220px;
  height: 80px;

  background-color: #f7f3ec;
  border-radius: 3px;

  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 9px;
}

.range .fill {
  height: 2px;
  background-color: #d7dcde;
}

.range .fill-in {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range .flipper {
  position: absolute;

  top: 30px;
  left: 0;

  width: 20px;
  height: 20px;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;

  cursor: pointer;
}

.range .m-left {
  left: 20px;
}

.range .m-right {
  left: 160px;
}

.input-conteiner {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 220px;
  height: 38px;

  margin-bottom: 25px;
}

.input-conteiner input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  width: 95px;
  height: 38px;

  border-radius: 3px;
}

.input-conteiner::after {
  content: "";

  position: absolute;

  top: 50%;
  left: 105px;

  width: 10px;
  height: 1px;

  background-color: #444444;
}

.filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-brands-list li,
.filter-power li {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filters .filter-brands {
  margin-bottom: 18px;
}

.filter-brands-list label,
.filter-power label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-brands legend,
.filter-power legend {
  margin-bottom: 14px;
}

.filter-brands-checkbox+label::before {
  content: "";
  position: absolute;

  top: -1px;
  left: -34px;

  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.2;
}

.filter-brands-checkbox:checked+label::before {
  display: none;
}

.filter-brands-checkbox:checked+label::after {
  content: "";
  position: absolute;

  top: -1px;
  left: -34px;

  width: 27px;
  height: 23px;

  border-radius: 3px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.2;
}

.filter-brands-checkbox:hover+label::before,
.filter-brands-checkbox:hover+label::after,
.filter-brands-checkbox:focus+label::before,
.filter-brands-checkbox:focus+label::after {
  opacity: 0.3;
}

.filter-brands-checkbox:disabled+label::before,
.filter-brands-checkbox:disabled+label::after {
  opacity: 0.1;
}

.filters input:disabled+label {
  opacity: 0.4;

  color: rgba(0, 0, 0, 0.4);
}

.filters .filter-power {
  margin-bottom: 60px;
}

.filter-power-radio+label::before {
  content: "";
  position: absolute;

  top: -2px;
  left: -34px;

  width: 25px;
  height: 25px;

  border: solid 4px #b5b5b5;
  border-radius: 50%;

  opacity: 0.7;
}


.filter-power-radio:checked+label::after {
  content: "";
  position: absolute;

  top: 6px;
  left: -26px;

  width: 9px;
  height: 9px;

  background-color: #b5b5b5;
  border-radius: 50%;

  opacity: 0.7;
}

.filter-power-radio:hover+label::before,
.filter-power-radio:hover+label::after,
.filter-power-radio:focus+label::before,
.filter-power-radio:focus+label::after {
  opacity: 1;
}

.filters button {
  display: block;

  width: 140px;
  min-height: 38px;

  padding: 10px 15px 9px;

  font-size: 13px;
  text-transform: uppercase;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  border-radius: 3px;

  cursor: pointer;
}

.filters button:hover,
.filters button:focus {
  border: solid 1px #bdc6ca;
}

.filters button:active {
  border: solid 1px #ee3643;
}

.filters .filter-price,
.filters .filter-brands {
  border-bottom: solid 1px #e5e5e5;
}

.sorting-container {
  font-size: 13px;

  background-color: #f7f3ec;
}

.sorting-list,
.sorting-list-arrows {
  list-style: none;
}

.sorting-list a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.18);

  border-bottom: 1px dotted #ee3643;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.sorting-list a:active {
  color: #ee3643;

  border-bottom: none;
}

.sorting-list .list-active {
  color: #ee3643;

  border-bottom: none;
}

.sorting-list-arrows a {
  width: 11px;
  height: 10px;
}

.sorting-list-arrows .up,
.sorting-list-arrows .down {
  fill: #69717f;
}

.sorting-list-arrows .up:hover,
.sorting-list-arrows .down:hover,
.sorting-list-arrows .up:focus,
.sorting-list-arrows .down:focus {
  fill: #000000;
}

.sorting-list-arrows .up:active,
.sorting-list-arrows .down:active {
  fill: #ee3643;
}

.sorting-list-arrows .arrow-active {
  fill: #ee3643;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  display: block;

  min-width: 38px;
  min-height: 38px;

  margin-right: 10px;

  padding: 10px 10px 9px 10px;

  font-size: 13px;
  text-align: center;
  color: #000000;

  border: solid 1px #e5e5e5;
  border-radius: 3px;
}

.pagination-list .next {
  padding: 10px 32px 9px 32px; 
}

.pagination-item:hover,
.pagination-item:focus {
  border: solid 1px #bdc6ca;
}

.pagination-item:active {
  border: solid 1px #ee3643;
}

.pagination-list .current {
  color: #ffffff;

  border: none;
  background-color: #ee3643;
}

.definition {
  background-color: #f4f7f9;
}

.definition h2 {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;

  margin: 0;
  margin-bottom: 26px;
}

.definition p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  margin-top: 0;
}


/* Стили index.html */
.promo-item h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;

  margin: 0;
  margin-bottom: 13px;
}

.promo-item a {
  display: block;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  width: 135px;
  min-height: 38px;

  padding: 11px 20px 9px 20px;
  margin-bottom: 22px;
}

.promo-item a:hover,
.promo-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.tools {
  background-color: #3bbce3;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.technics {
  background-color: #dc91d8;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.discounts {
  background-color: #8ed78f;

  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.delivery {
  background-color: #ffc047;

  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.slider {
  position: relative;

  width: 620px;
  min-height: 266px;
}

.slide h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 2px;
}

.slide p {
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;

  margin: 0;
  margin-bottom: 122px;
}

.slide a {
  width: 195px;
  min-height: 38px;

  margin-bottom: 20px;
}

.slide {
  display: none;
  flex-direction: column;

  width: 620px;
  min-height: 266px;

  padding-top: 23px;
  padding-left: 25px;
}

.dril {
  background-image: url(../img/slider-image-dril.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color:#4f3d29;
}

.perf {
  background-image: url(../img/slide-image-perf.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color:#4f3d29;
}

.slider-controls {
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;

  top: 220px;
  right: 295px;

  width: 30px;
  min-height: 10px;

  z-index: 20;
}

/*.slider input[type="radio"] {
  display: none;
}*/

.slider-controls label {
  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"] {
  background-color: #ee3643;
  border-radius: 50%;
}

#btn-1:checked~.slider-slides .dril {
  display: flex;
}

#btn-2:checked~.slider-slides .perf {
  display: flex;
}

.slider button {
  padding: 0;
  border: none;
  font-size: 0;
  background-color: transparent;

  cursor: pointer;
}

.slider .next {
  position: absolute;

  top: 114px;
  right: 20px;

  width: 22px;
  height: 40px;

  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  z-index: 21;
}

.slider .prev {
  position: absolute;

  top: 114px;
  left: 25px;

  width: 22px;
  height: 40px;

  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  z-index: 21;
}



.popular-items-header,
.popular-brands-header {
  background-color: #f9f5f0;
}

.popular-items-header h2,
.popular-brands-header h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
}

.popular-items-header a,
.popular-brands-header a {
  width: 253px;
  min-height: 38px;

  margin-right: 24px;
}


.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  position: relative;

  background-color: #ffffff;
 
  cursor: pointer;
}

.focus:hover,
.focus:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .focus {
  box-shadow: none;
}

.focus h3 {
  font-size: 18px;
  font-weight: bold;

  min-height: 33px;

  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 12px;

  color: #000000;
}

.focus s {
  font-size: 17px;
  line-height: 1.06;
  color: #a9a9a9;

  min-height: 20px;

  margin-bottom: 8px;
}

.focus span {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
  background-color: #ee3643;

  width: 141px;
  height: 38px;

  margin-left: 5px;

  border-radius: 3px;
}

.focus span:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.focus img {
  background-color: #065573;
}

.catalog-popular .new::after,
.catalog .new::after {
  content: "";

  position: absolute;

  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  background-position: 0 0;

}

.promo-block .new::after {
  content: "";

  position: absolute;

  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.active {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;

  top: 1px;
  left: 1px;

  width: 216px;
  min-height: 170px;

  padding-top: 44px;
}

.buy {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 135px;
  height: 38px;

  margin-bottom: 8px;

  color: #ffffff;

  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;

  border-radius: 3px;
}


.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
  box-shadow: none;
}

.buy::before {
  content: "";

  position: absolute;

  top: 11px;
  left: 15px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.buy:hover::before,
.buy:focus::before,
.buy:active::before {
  opacity: 1;
}

.to-bookmark {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 135px;
  height: 38px;

  color: #32425c;

  border: solid 3px #63a63e;
  border-radius: 3px;
}

.to-bookmark:hover,
.to-bookmark:focus {
  border: solid 3px #32425c;
}

.to-bookmark:active {
  opacity: 0.3;
}

.catalog-item .active {
  display: none;
}

.catalog-item:hover .active {
  display: flex;
}

.brand-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.brand-list a {
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.brand-list a:hover,
.brand-list a:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-list a:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.services {
  background-color: #f4f7f9;
}

.services h2,
.company-info h2,
.company-contacts h2 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;

  margin-top: 0;
}

/*.slider-services input[type="radio"] {
  display: none;
}*/

.service-controls label {
  display: block;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  color: #ffffff;

  width: 240px;
  min-height: 61px;

  padding: 13px 23px 13px 23px;

  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;

  cursor: pointer;
}

#btn-3:hover~.service-controls label[for="btn-3"],
#btn-4:hover~.service-controls label[for="btn-4"],
#btn-5:hover~.service-controls label[for="btn-5"],
#btn-3:focus~.service-controls label[for="btn-3"],
#btn-4:focus~.service-controls label[for="btn-4"],
#btn-5:focus~.service-controls label[for="btn-5"] {
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #293449;
}

#btn-3:checked~.service-controls label[for="btn-3"],
#btn-4:checked~.service-controls label[for="btn-4"],
#btn-5:checked~.service-controls label[for="btn-5"] {
  color: #000000;

  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

.services h3 {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 25px;

}

.services p,
.company-info p,
.company-contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  margin: 0;
}

.services p {
  width: 398px;
  min-height: 37px;
}

.delivery-slide p {
  width: 275px;
}

.guarantee-slide p {
  width: 379px;
}

.credit-slide p {
  width: 279px;

  margin-bottom: 31px;
}

.service-slide {
  display: none;
  flex-direction: column;

  min-width: 699px;
  min-height: 330px;

  padding: 45px 0 48px 80px;
}


.delivery-slide {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.guarantee-slide {
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.credit-slide {
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.credit-slide .button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 195px;
  height: 38px;
}


#btn-3:checked~.service-slides .delivery-slide {
  display: flex;
}

#btn-4:checked~.service-slides .guarantee-slide {
  display: flex;
}

#btn-5:checked~.service-slides .credit-slide {
  display: flex;
}

.company-info-list {
  display: flex;
  flex-direction: column;

  list-style: none;

  width: 386px;
  min-height: 88px;

  margin: 0;
  margin-bottom: 2px;
  padding-left: 36px;
}

.company-info-list li {
  position: relative;

  font-size: 18px;
  line-height: 1.11;
  text-align: left;
  color: #000000;

  margin-bottom: 21px;
}

.company-info-list li:last-child {
  margin-bottom: 35px;
}

.company-info-list li::before {
  content: "";

  position: absolute;

  top: 50%;
  left: -36px;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.company-button {
  width: 220px;
  min-height: 38px;

  margin-bottom: 20px;
}

.company-contacts p {
  width: 179px;

  margin-bottom: 31px;

}

.company-contacts img {
  background-color: #efeae4;
}

/* Стили Футера */

.main-footer {
  background-color: #32425c;
}

.top-row ul,
.middle-row ul,
.social ul {
  list-style: none;
}

.footer-navigation a,
.middle-navigation a {
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
}

.footer-navigation a {
  color: #f1f5f7;
}

.middle-navigation a {
  color: #ffda96;
}

.footer-navigation a:hover:not(.current),
.footer-navigation a:focus:not(.current),
.middle-navigation a:hover:not(.current),
.middle-navigation a:focus:not(.current) {
  text-decoration: underline;
}

.footer-navigation a:active:not(.current),
.middle-navigation a:active:not(.current) {
  opacity: 0.5;
  text-decoration: none;
}

.middle-row p {
  padding: 0;
  margin: 0;
}

.middle-row .footer-address {
  width: 323px;
  min-height: 46px;
  margin-right: 30px;

  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #f3f7f9;
}

.bottom-row {
  background-color: #293449;
}

.copyright {
  width: 228px;

  margin-right: 60px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 340px;
  min-width: 42px;

  margin: 0;
  padding: 0;
  margin-right: 13px;
  padding-top: 3px;
}

.social-list a {
  display: flex;

  font-size: 0;
  line-height: 1.13;
  color: #ffffff;

  background-color: #212a3a;
  border-radius: 50%;

  width: 42px;
  height: 42px;

  margin-right: 3px;
  margin-bottom: 3px;
}


.social-button-vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button-ins {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-list a:hover,
.social-list a:focus,
.social-list a:active {
  color: #ee3643;
  background-color: #ee3643;
  border-radius: 50%;
}

.bottom-row p {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.feedback {
  width: 136px;

  margin-right: 52px;
}

.designed {
  width: 96px;

  margin-right: 15px;
}

.feedback a,
.designed a {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.designed a:hover,
.designed a:focus {
  text-decoration: underline;
}

.feedback a:active,
.designed a:active {
  color: #ee3643;
  text-decoration: none;
}

/* Модальные окна */

/* Окно добавления товара в корзину */

.modal-basket {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;


  width: 620px;
  min-height: 282px;

  padding-top: 75px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;

  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);

  background-image: url(../img/modal-check.svg);
  background-repeat: no-repeat;
  background-position: 81px 55px;
}

.modal-basket h2 {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  color: #000000;

  margin: 0;
  margin-left: 50px;
  margin-bottom: 68px;
}

.modal-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 620px;
  min-height: 112px;

  margin: 0;
  padding-top:37px;
  padding-left: 80px;

  list-style: none;
  background-color: #f1f1f1;
}

.modal-list a {
  display: block;

  width: 220px;
  min-height: 38px;

  margin-right: 20px;
  padding: 11px 20px 9px 20px;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  margin-bottom: 35px;
}

.modal-list .make-order-btn {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.modal-list .make-order-btn:hover,
.modal-list .make-order-btn:focus {
  background-color: #ca2c37;
}

.modal-list .make-order-btn:active {
  background-color: #ba2732;
}

.modal-list .white-btn {
  background-color: #ffffff;
}

.modal-list .white-btn:hover,
.modal-list .white-btn:focus {
  border: solid 1px #bdc6ca;
}

.modal-list .white-btn:active {
  border: solid 1px #ee3643;
}

/* Модальное окно Формы обратной связи */

.modal-form-back {
  position: relative;

  width: 620px;
  min-height: 430px;

  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.form-back {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 620px;
  min-height: 430px;

}

.user-top-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 460px;
  min-height: 112px;

  padding-top: 48px;
}

.user-middle-row {
  display: flex;
  flex-direction: column;

  width: 460px;
  min-height: 199px;

  padding-top: 22px;
}

.user-bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 620px;
  min-height: 115px;

  padding-top: 37px;

  background-color: #f4f4f4;
}

.user-bottom-row .button {
  display: block;

  width: 460px;
  height: 38px;

  margin-bottom: 35px;

  cursor: pointer;
}



.modal-form-back label {
  font-size: 18px;
  line-height: 1;
  text-align: left;
}

.modal-form-back input[type="text"],
.modal-form-back input[type="email"],
.modal-form-back textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;


  border: solid 2px #dee3e4;
  background-color: #ffffff;
}

.modal-form-back input[type="text"]::placeholder,
.modal-form-back input[type="email"]::placeholder,
.modal-form-back textarea::placeholder {
  color: #999999;
}

.modal-form-back input[type="text"],
.modal-form-back input[type="email"] {
  display: block;

  width: 218px;
  height: 36px;

  margin-top: 13px;
  padding-left: 14px;
}

.modal-form-back textarea {
  display: block;

  width: 458px;
  height: 112px;

  margin-top: 13px;
  padding: 9px 14px 0 14px;

  resize: none;
}

.modal-form-back input[type="text"]:hover,
.modal-form-back input[type="email"]:hover,
.modal-form-back textarea:hover {
  border: solid 2px #b5b5b5;
}

.modal-form-back input[type="text"]:focus,
.modal-form-back input[type="email"]:focus,
.modal-form-back textarea:focus {
  border: solid 2px #ee3643;
  outline: none;
}

/* Модальное окно карты */

.modal-map {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 940px;
  min-height: 440px;

  background-color: #efeae4;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-map .modal-close,
.modal-basket .modal-close,
.modal-form-back .modal-close {
  position: absolute;

  padding: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;

  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-image: url(../img/map-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  z-index: 21;
}


/* ----- Стили сетки ----- */
/* ----- Стили сетки Хедер ----- */

.container {
  width: 960px;

  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  display: flex;
  flex-direction: column;

  padding-bottom: 60px;
}

.top-background {
  min-height: 42px;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  min-height: 42px;
}

.menu-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  min-height: 158px;

  padding-top: 46px;
  padding-left: 62px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 350px;
}

.main-menu-list {
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;

  width: 100%;
  min-height: 60px;

  margin: 0;
  padding: 0;
  padding-left: 22px;
  padding-right: 22px;
}

/* ----- Стили сетки main ----- */

.main-content {
  display: flex;
  flex-direction: column;
}

/* ----- Стили сетки Промо блока ----- */
.promo-block {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  padding-top: 59px;
  padding-bottom: 53px;
}

.promo-item {
  display: block;

  position: relative;

  width: 300px;
  min-height: 123px;

  padding-top: 20px;
  padding-left: 23px;

  margin-bottom: 20px;
}

.promo-column {
  display: block;

  width: 300px;
  min-height: 266px;
}

.promo-column .promo-item:last-child {
  margin-bottom: 0;
}

/* ----- Стили тсетки Каталога и Брендов ----- */
.popular-items {
  display: flex;
  flex-direction: column;

  min-height: 448px;
}

.popular-items .catalog-popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  min-height: 358px;

  margin: 0 auto;
  padding-top: 20px;
}

.catalog-item {
  /* временно */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 220px;
  min-height: 318px;

  margin-right: 20px;
  margin-bottom: 20px;
}

.focus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;

  padding-bottom: 20px;
  
  background-color: #ffffff;
  border: solid 1px #eaeaea;
}

.catalog-popular .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.focus img {
  order: -1;
}

.popular-brands {
  display: flex;
  flex-direction: column;

  min-height: 419px;

  padding-bottom: 65px;
}

.brand-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;

  width: 100%;
  min-height: 330px;

  padding-top: 20px;
}

.brand-list a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 145px;
  

  margin-bottom: 20px;
}

.popular-items-header,
.popular-brands-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 89px;

  margin: 0;
  padding-left: 28px;
}

/* Стили сетки Сервисы */

.services {
  display: flex;
  flex-direction: column;

  min-height: 522px;
}

.services-header {
  min-height: 192px;

  padding-top: 65px;
  padding-bottom: 22px;
}

.slider-services {
  display: flex;
  min-height: 330px;
}

.service-controls {
  display: block;

  position: relative;

  min-height: 279px;

  padding-top: 48px;
  padding-bottom: 48px;
}

.service-controls::after {
  content: "";

  position: absolute;

  top: 0;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;

}

/* Стили сетки О компании и контакты */

.company-description {
  display: flex;
  justify-content: space-between;
  min-height: 450px;

  padding-top: 80px;
  padding-bottom: 66px;
}

.company-info {
  display: flex;
  flex-direction: column;

  width: 640px;
  min-height: 368px;
}

.company-info p {
  width: 519px;

  margin-bottom: 25px;
}

.company-info .about-delivery {
  width: 386px;

  margin-bottom: 20px;
}


.company-contacts {
  display: flex;
  flex-direction: column;

  width: 300px;
  min-height: 368px;
}


.company-contacts a {
  width: 300px;
  min-height: 38px;

  margin-bottom: 20px;
}

.company-contacts .map {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 40px;
}

.company-contacts .button-contacts {
  padding-left: 25px;
}



/* Стили сетки Футера */

.main-footer {
  display: flex;
  flex-direction: column;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-bottom: 32px;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  width: 607px;
  min-height: 23px;

  margin-top: 37px;
  margin-bottom: 2px;
  padding-left: 0;
}

.footer-navigation li {
  margin-left: 59px;
}

.middle-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  min-height: 98px;

  padding-left: 14px;
}

.middle-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  width: 584px;
  min-width: 23px;

  margin-top: 0;
  padding: 0;
}

.middle-navigation li {
  margin-left: 59px;
}

.bottom-row-background {
  min-height: 105px;

  background-color: #293449;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  min-height: 107px;

  padding-top: 4px;
}

/* ----- Стили сетки catalog.html ------*/

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  min-height: 59px;

  margin: 0;
  padding-left: 0;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs .to-index {
  display: flex;

  width: 14px;
  height: 18px;
}

.breadcrumbs li:first-child {
  width: 14px;
  height: 18px;

  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;

  top: 2px;
  right: -25px;

  width: 8px;
  height: 12px;

  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs .current {
  padding-left: 3px;
}

.breadcrumbs .current::after {
  display: none;
}


.main-catalog-title {
  display: flex;
  align-items: center;

  min-height: 89px;

  margin: 0;
  padding-left: 28px;
}

.catalog-row {
  display: flex;

  padding-top: 20px;
}

.filters {
  display: flex;
  flex-direction: column;

  min-width: 220px;
  min-height: 786px;

  margin-right: 20px;
}

.main-catalog {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.sorting-container {
  display: flex;
  align-items: center;

  min-height: 38px;
  padding-left: 19px;
}

.sorting-container p {
  margin: 0;
  margin-right: 140px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 354px;
  min-height: 12px;

  margin: 0;
  margin-right: 46px;
  padding: 0;
}

.sorting-list-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 42px;
  min-height: 10px;

  margin: 0;
  padding: 0;
}

.catalog {
  display: flex;
  flex-wrap: wrap;

  padding-top: 20px;
}

.catalog .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 38px;

  margin: 0;
  margin-bottom: 60px;
  padding-left: 0;
  padding-top: 32px;
}

.definition {
  min-height: 260px;

  padding-top: 64px;
}

/*.modal {
  display: none;
}*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}